
workflow:

on: 
  push: 
    branches:
          - main


env: 
    DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
    DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
    TAG: ${{github.sha}} 

jobs:
  build-dockerhub:
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout app code
        uses: actions/checkout@v4
      - name: Login
        uses: docker/build-push-action@v5
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3  
      - name: Build and push Docker image    
        uses: docker/build-push-action@v5
        with:
        push: true
        tags: ${{env.DOCKER_USERNAME}}/main-python:${{env.TAG}}

  update-manifest:       
    runs-on: ubuntu-latest
    needs: build-dockerhub
    env:
      SSH_PRIVATE_KEY: ${{secrets.SSH_PRIVATE_KEY}}
    steps:
      - name: SSH Agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{env.SSH_PRIVATE_KEY}}
      - name: Checkout manifests repo
        uses: actions/checkout@v4
        with:
          repository: rayane001/hello-manifests
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Commit and push changes
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add kustomization.yaml
          git commit -m "Update image tag to latest"
          git push
