name: workflow

on: 
  push: 
    branches:
      - main

env:
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
  TAG: ${{ github.sha }}

jobs:
  build-dockerhub:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: . 
    steps:
      - name: Checkout app code
        uses: actions/checkout@v4
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKER_USERNAME }}   
          password: ${{ env.DOCKER_PASSWORD }}
          
      - name: Build and push Docker image    
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ${{ env.DOCKER_USERNAME }}/hello-app:${{ env.TAG }}

  update-manifest:       
    runs-on: ubuntu-latest
    needs: build-dockerhub
    defaults:
      run:
        working-directory: .  
    env:    
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      
    steps:
      - name: Setup SSH Agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ env.SSH_PRIVATE_KEY }}
          
      - name: Checkout manifests repo
        uses: actions/checkout@v4
        with:
          repository: RayaneBarrosM/hello-manifests
          ref: main
          ssh-key: ${{env.SSH_PRIVATE_KEY}}
          
      - name: Update image tag in kustomization
        run: |
          sed -i 's|newTag:.*|newTag: ${{ env.TAG }}|' kustomization.yaml
          
      - name: Commit and push changes
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add kustomization.yaml
          git commit -m "Update image tag to ${{ env.TAG }}"
          git push